{% extends "djangobin/base.html" %}

{% block title %}
    Login - {{ block.super }}
{% endblock %}
{% block main %}</strong></p>



<table class="table"> 

	
       
        <tbody>
 
        
            <tr>
                <td><form action="/seeyear/" method="get"  >  

                   
{% csrf_token %}
                    <table class="table w3-grey">
				
					<tr>
                            <th><label for="id_username">year:</label></th>
   <td>
   
  
  
    <select name="yea" required="">
        <option disabled="" selected="">Select year</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
		<option value="2021">2021</option>
        <option value="2022">2022</option>
        <option value="2023">2023</option>
		<option value="2024">2024</option>
        <option value="2025">2025</option>
        <option value="2026">2026</option>
		<option value="2027">2027</option>
        <option value="2028">2028</option>
        <option value="2029">2029</option>
    </select>
   
						</td>
                        </tr>
	
                        <tr>
                           
    <td><input type="hidden" name="Bank" id="id_username" required value='{% for book in books %}{{ book.Bank }}{% endfor %}' /></td>
                        </tr>
                        <tr>
                           
 <td><input type="hidden" name="Account" id="id_password" required value='{% for book in books %}{{ book.Account }}{% endfor %}' /></td>
                        </tr>
						
					
						
						
                        <tr>
                            <td><input type="hidden" name="next" value="{{ next }}"></td>
                            <td><button type="submit" class="btn btn-primary">Submit</button></td>
                        </tr>
                    </table>

                </form>	</td>
                
                

            </tr>
        
        </tbody>
    </table>


	
		
	
	
	{% endblock %}